@using System.Configuration
@model KissLog_AspNet_WebApi.Models.IndexViewModel
@{
    ViewBag.Title = "Home";
}

<p>This ASP.NET WebApi application is using KissLog to write the logs on:</p>

<ol class="list">
    <li>
        Local text files: <br />
        @Model.LocalTextFilesPath
    </li>
    <li>
        KissLog.net: <br />
        <a href="@Model.KissLogRequestLogsUrl" target="_blank">@Model.KissLogRequestLogsUrl</a>
    </li>
</ol>

<div class="row">
    <div class="col-lg-6">
        <div>
            <div>KissLog + ValuesController.cs</div>
            <pre class="prettyprint linenums">@AppHelpers.ReadAppDataFile("InstallInstructions\\ValuesController.cs.txt")</pre>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <a href="@Model.KissLogRequestLogsUrl" target="_blank">
                <img src="~/Content/KissLog-AspNet-WebApi.png" class="img-thumbnail img-responsive" />
            </a>
        </div>
    </div>
</div>

<h2>Install instructions</h2>

<ol class="installInstructions">
    <li>
        <div>
            Install NuGet package <span class="font-weight-semibold">KissLog.AspNet.WebApi</span>
        </div>
        <div>
            <div class="packageManagerConsole codeBlock minWidth">
                <div>
                    PM&gt; Install-Package KissLog.AspNet.WebApi
                </div>
            </div>
        </div>
    </li>

    <li>
        <div>
            Update <span class="font-weight-semibold">web.config</span>
        </div>
        <div>
            <div class="d-inline-block minWidth">
                <pre class="prettyprint linenums">
@AppHelpers.ReadAppDataFile("InstallInstructions\\web.config.txt")
</pre>
            </div>
        </div>
    </li>

    <li>
        <div>Update <span class="font-weight-semibold">Global.asax</span></div>

        <div>
            <div class="d-inline-block minWidth">
                <pre class="prettyprint linenums">
@AppHelpers.ReadAppDataFile("InstallInstructions\\Global.asax.txt")
</pre>
            </div>
        </div>
    </li>
    
    <li>
        <div>Update <span class="font-weight-semibold">WebApiConfig.cs</span></div>

        <div>
            <div class="d-inline-block minWidth">
                <pre class="prettyprint linenums">
@AppHelpers.ReadAppDataFile("InstallInstructions\\WebApiConfig.cs.txt")
</pre>
            </div>
        </div>
    </li>

    <li>
        <div>Write logs</div>

        <div>
            <div class="d-inline-block minWidth">
                <pre class="prettyprint linenums">
@AppHelpers.ReadAppDataFile("InstallInstructions\\ValuesController.cs.txt")
</pre>
            </div>
        </div>
    </li>
</ol>


@section scripts {
    <script>
        var placeholders = {
            organizationId: "@(ConfigurationManager.AppSettings["KissLog.OrganizationId"])",
            applicationId: "@(ConfigurationManager.AppSettings["KissLog.ApplicationId"])",
            kissLogApiUrl: "@(ConfigurationManager.AppSettings["KissLog.ApiUrl"])"
        };

        $("pre").each(function() {
            App.prettyPrint($(this), placeholders);
        });
    </script>
}