@model NLog_AspNet_MVC.Models.IndexViewModel
@{
    ViewBag.Title = "NLog";
}

<div>
    <p>This ASP.NET MVC application is using NLog to save the logs on:</p>

    <ol class="list">
        <li>
            Local text files: <br />
            @Model.LocalTextFilesPath
        </li>
        <li>
            KissLog.net: <br />
            <a href="@Model.KissLogRequestLogsUrl" target="_blank">@Model.KissLogRequestLogsUrl</a>
        </li>
    </ol>
    
    <div>
        <div>HomeController.cs</div>
        <pre class="prettyprint linenums">@AppHelpers.ReadAppDataFile("HomeController.cs.txt")</pre>
    </div>
    
    <div>
        <div>NLog.config</div>
        <pre class="prettyprint linenums">@AppHelpers.ReadAppDataFile("NLog.config.txt")</pre>
    </div>
</div>

@section scripts {
    <script>
        $("pre").each(function () {
            App.prettyPrint($(this));
        });
    </script>
}